<html>
    <head>
        <h1>
            My App [ejs file]
        </h1>    
    </head>
    <body>
        <p> List in <%= title %> </p>
        <ul>
            <% for(let i=0; i<abc.length; ++i){ %>
                <li> <%= abc[i] %> </li>
            <% } %>    
        </ul>    
    </body>